* {
    box-sizing: border-box;
    margin: 0px;
}


a{
    text-decoration: none;
}


header{
    background-image: url('../img/bgi_shopmal2l.png');
    background-size: cover;
    background-position: center;



    width: 100%;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0.21);
    box-shadow:  0px 0px 3px black;
}


nav {
    display: flex;
    width: 100%;
    /* background-color: #ec7272; */
    height: 250px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 25px;

}
nav div.login{
    user-select:none;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    text-shadow: 0px 0px 2px black;
    
}

nav div.login>span{
    
    font-weight: bold;
    padding-top: 4px;
    border-radius: 10px;
    margin: 2px;
    text-align: center;
    display: inline-block;
    height: 30px;
    width: 50px;
}

nav div.login>span:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000000;
    text-shadow: 0px 0px 0px black;
}




nav div.mall_title {
    text-shadow: 0px 0px 5px black;
    user-select:none;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    text-align:center;
    display: flex;
    align-items: end;
    height: 80%;
    /* background-color: #faf8f8; */
}
header div.div_search{
    display: block;
    min-height: 50px;
}



header div.search {
    /* position: fixed ; */
    /* background-color: #ec7272; */
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    min-height: 50px;
    /* background-color: #70debd; */
    justify-content: end;
    align-items: center;
}


header div.search div.nav{
    padding-left: 50px;
    display: flex;
    width: 80%;
    justify-content: end;
    align-items: center;
}

header div.search div.nav>div{
    user-select: none;
    padding-top: 5px;
    text-align: center;
    display: inline-block;
    width: 18%;
    min-width: 80px;
    height: 35px;
    color: #ffffff;
    font-weight: 900;
    text-shadow: 0px 0px 2px black;
    border-radius: 20px;
}


header div.search div.nav>div:hover{
    background-color: #fff;
    color: #000000;
    text-shadow: 0px 0px 0px black;
}



#input_search {
    width : 100%;
    min-width: 250px;
    display: none;
}


#input_search input {
    color: #737373;
    padding-left: 5px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    display: block;
    height: 40px;
    font-size: 20px;
    width: calc(100% - 10px);
    box-shadow: 0px 0px 3px #686868;
}

#input_search input:focus {
    outline: none;
    border: 1px solid bisque;
}

header div.search span.search_span {
    user-select: none;
    padding: 5px;
    border:  2px solid rgb(32, 94, 25);
    border-radius: 15px;
    margin-right: 15px;
    overflow: hidden;
    justify-content: end;
    align-items: center;
    display: flex;
    height: 40px;
    width: 85px;
    background-color: #c9e7c1;
}


header div.search span.search_span:hover {
    background-color: #79e25c;
    border:  2px solid rgb(0, 0, 0);
}

header div.search span.search_span img{
    display: inline-block;
    width: 30px;
    height: 30px;
}


header div.search div.search_div{
    display: flex;
    justify-content: end;
    width: 20%;
}

main {
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    min-height: 900px;
    font-size: 0px;
}


main div.side {
    padding: 10px;
    padding-top: 30px;
    display: inline-block;
    width: 15%;
    min-width: 200px;
    max-height: 100%;
    /* border: 1px solid black; */
}


main div.side div.brandlist {
    user-select: none;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    /* border: 1px solid blue; */
    font-size: 18px;
    font-weight: bold;
    line-height: 2;
    text-align: center;

}

main div.side div.brandlist div.brandItem {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 0px;
}



main div.side div.brandlist:nth-child(1) {
    margin-top: 0px;
}

main div.side div.brandlist>span {
    color: #faf8f8;
    width: 95%;
    /* padding-left: 15%; */
    border: 1px solid goldenrod;
    border-radius: 50px;
}


main div.side div.brandlist>span.N_brand {
    background-color: #cb4619;
    border: 4px solid #cb4619;

}

main div.side div.brandlist>span.N_brand:hover {
    color: #cb4619;
    border: 4px solid #cb4619;
    background-color: #ffffff;

}


main div.side div.brandlist>span.B_brand {
    background-color: #11942e;
    border: 4px solid #11942e;

}

main div.side div.brandlist>span.B_brand:hover {
    color: #11942e;
    border: 4px solid #11942e;
    background-color: #ffffff;

}

main div.side div.brandlist>span.P_brand {
    background-color: #255194;
    border: 4px solid #255194;

}

main div.side div.brandlist>span.P_brand:hover {
    color: #255194;
    border: 4px solid #255194;
    background-color: #ffffff;

}

main div.side div.brandlist div.listtype {
    width: 60%;
    display: inline-block;
    font-size: 14px;
    line-height: 2;
    text-align: left;
    padding: 5px;
}


main div.side div.brandlist div.listtype span {
    align-items: center;
    /* border: 1px solid black; */
    border-radius: 15px;
    margin-left: 10%;
    padding-left: 15px;
    display: flex;
    width: 120px;
    height: 30px;
}

main div.side div.brandlist div.listtype span:hover {
    font-size: 1.3em;
    color: #2c477b;
    font-weight: bold;
}


main div.side div.brandlist>span.buy_btn {
    color: rgb(255, 255, 255);
    background-color: #000000;
    border: 4px solid #000000;
}

main div.side div.brandlist>span.buy_btn:hover {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border: 4px solid #000000;
}








main div.content div.advs{

    /* 調整廣告 */
    background-image: url('../img/advs.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;



    /* 調整廣告文字 */
    text-align: center;
    font-size: 50px;
    color: #ffffff;
    text-shadow:  0px 0px 3px black;



    /* 不要動不要動不要動    */
    border-radius: 5px;
    box-shadow:  0px 0px 2px black;
    display: inline-block;
    margin-bottom: 15px;
    width: 100%;
    height: 150px;
    background-color: #ffffff;
}

main div.content div.showArea{

    margin-bottom: 20px;
    padding: 10px;
    font-size: 50px;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow:  0px 0px 2px black;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    width: 100%;
    min-height: 200px ;
    background-color: #ffffff;
}


main div.content div.showArea div.similar_product{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}


main div.content div.showArea div.similar_product>table{
    margin-top: 10px;
    border-collapse:collapse;
    text-indent: 5px;
    width: 100%;
    background-color: #feabab;
    border-radius: 5px;
    line-height: 2;
    font-size: 14px;
    text-align: left;
    overflow: hidden;
    table-layout: fixed;
}

main div.content div.showArea div.similar_product>table>thead{
    font-weight: bold;
    font-size: 1.2em;
    background-color: #a02f2f;
    color: white;
}

main div.content div.showArea div.similar_product>table>tbody>tr>td:nth-child(4){
    padding-right: 10px;
    text-align: right;
}





main div.content div.showArea div.description_detail{

    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 200px;
    border: 1px dashed rgba(255, 166, 0, 0.232);
    background-color: #ede2a380;
}




main div.content div.showArea div.description_basic{
    display: inline-block;
    width:  50%;
    height: 460px;
    padding: 10px;
}


main div.content div.showArea div.description_basic div.ItemDetail{
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    height: 440px;
    width: 100%;
}


main div.content div.showArea div.description_basic div.ItemDetail div.productSpecial{
    display: block;
    height: calc( 100% - 140px);
}

main div.content div.showArea div.description_basic div.ItemDetail div.productSpecial>div{
    padding-left: 15px;
    font-size: 16px;
    line-height: 2.5;
}

main div.content div.showArea div.description_basic div.ItemDetail div.direct_buy{
    width: 100%;
    display: flex;
    height: 50px;
    align-items: end;
}



main div.content div.showArea div.description_basic div.ItemDetail div.price{
    height: 40px;
    display: flex;
    width: 100%;
    align-items: center;
    letter-spacing: 3px;    
    text-align: right;
    justify-content: end;
    padding-right: 15px;
}

main div.content div.showArea div.description_basic div.ItemDetail div.price>span{
    font-size: 1.5em;
    color:red;
    font-weight: bold;
}

main div.content div.showArea div.description_basic div.ItemDetail div.direct_buy>input{
    border: none;
    color: white;
    width: calc(50% - 15px);
    height: 35px;
    margin-right: 15px;
    background-color: #3b65a4;
    border-radius: 10px;
}

main div.content div.showArea div.description_basic div.ItemDetail div.direct_buy>input:hover{
    background-color: #4574ba;
    cursor:pointer;
}


main div.content div.showArea div.description_basic div.ItemDetail div.direct_buy>input:nth-child(2){
    margin-right: 0px;
}

main div.content div.showArea div.description_basic div.ItemDetail p.productName{
    display: block;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
}




main div.content div.showArea div.showImg {
    font-size: 0px;
    flex-wrap: wrap;
    display: inline-block;
    min-height: 460px;
    width: 50%;


}
main div.content div.showArea div.showImg div.preview{
    box-shadow: 0px 0px 3px black;
    overflow: hidden;
    border-radius: 5px;
    display: inline-block;
    margin: 10px;
    width: calc(100% - 20px);
    height: 300px;

}


main div.content div.showArea div.showImg img.previewIMG{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #d07070;
}


main div.content div.showArea div.showImg div.small_img{
    box-shadow: 0px 0px 3px black;
    overflow: hidden;
    border-radius: 5px;
    display: inline-block;
    margin-left: 10px;
    width: calc((100% - 40px)/3);
    height: 130px;
}


main div.content div.showArea div.showImg div.small_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #d07070;
}




main div.content div.showArea>div{
    font-size: 20px;
}



main div.content {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    width: calc(90% - 15%);
    max-width: calc(90% - 200px);
    height: 100%;
}


main div.content div.ads {
    font-size: 50px;
    display: inline-block;
    width: 100%;
    height: 150px;
    background-color: #dc67b3;
}

main div.content div.product {
    display: inline-block;
    height: calc(100% - 150px);
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}


main div.content div.product div.showItem {
    font-size: 20px;
    display: inline-block;
    min-height: 50px;
    width: calc((100% - 95px)/4);
    margin-left: 15px;
    margin-top: 30px;
}

main div.content div.product div.showItem>div{
    text-align: center;
}   


main div.content div.product div.showItem div.showItem_img{
    overflow: hidden;
}

main div.content div.product div.showItem div.showItem_img img{
    object-fit : cover ;
    display: block;
    min-width: 100%;
    max-height: 200px;
    max-width: 200px;
}



main div.content article.buylist {
    margin: 10px;
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #ab4444;
}

main div.content article.buylist h1.buylist_title {
    padding-left: 15px;
}




footer{
    padding-top: 10px;
    flex-wrap: wrap;
    color: #ffffff;
    background-color: #000000;
    display: flex;
    height: 80px;
    width: 100%;
}

footer>div{
    line-height: 1;
    text-align: center;
    display: inline-block;
    width: 100%;
}


hr {
    text-align: center;
    width: 100%;
    border: 1px solid;
    color: rgba(184, 184, 184, 0.371);
    margin-top: 10px;
    margin-bottom: 20px;
}


div.inputBlock {
    padding: 30px;
    text-align: right;
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    flex-direction: column;
}

div.inputBlock input#getshot {
    display: inline-block;
    margin-left: 30px;
    width: 80px;
    height: 30px;
    background-color: #ffffff;
    border: 2px solid rgb(121, 121, 225);
    border-radius: 5px;
}

div.inputBlock input#getshot:hover {
    background-color: #d1d1d1;
    border: 2px solid rgb(0, 0, 0);
}

div.inputBlock>div {
    display: block;
    width: 100%;
    text-align: left;
    margin: 15px;
    height: 50px;
    position: relative;
}

div.inputBlock>div#imgView {
    height: auto;
    min-height: 80px;
}

div.inputBlock>div#imgView img {
    margin: 10px;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 0px 0px 2px rgb(174, 173, 173);
    height: 200px;
    width: 200px;
}

div.inputBlock>div#imgView img:hover{
    box-shadow: 0px 0px 2px black;
    cursor: pointer;
}

div.inputBlock>div.btnArea {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: start;
}


div.inputBlock>div>button {
    margin: 10px;
    border: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    width: 60px;
    height: 30px;
}

div.inputBlock>div>button#commit {
    background-color: #fa4343;

}


div.inputBlock>div>button#commit:hover {
    background-color: #e16262;
    cursor: pointer;
}

div.inputBlock>div>button#cancel {
    background-color: #e0b226;
}

div.inputBlock>div>button#cancel:hover {
    background-color: #efc955;
    cursor: pointer;
}


div.inputBlock>div>input {
    color: rgb(91, 91, 91);
    font-size: 16px;
    padding-left: 10px;
    height: 40px;
    width: 90%;
    min-width: 200px;
    border: 1px solid rgba(142, 142, 142, 0.522);
    border-radius: 3px;

}

div.inputBlock>div>input:focus {
    outline: none;
    box-shadow: 0px 0px 2px 0.5px blue;
}


div.inputBlock>div>span.inValue {
    font-size: 16px;
    position: absolute;
    top: 5px;
    left: 20px;
    color: gray;
    background-color: #fff;
}

span.inputNotice {
    display: inline-block;
    color: red;
    font-size: 10px;
    min-width: 15px;
}

















@media(min-width:1050px) {
    main div.content div.product div.showItem:nth-child(4n) {
        margin-right: 15px;
    }


    

}


@media(max-width:1050px) and (min-width : 712px) {

    main div.content div.product div.showItem {
        width: calc((100% - 80px)/2);
        margin-left: 20px;
    }

    main div.content div.product div.showItem:nth-child(2n) {
        margin-right: 15px;
    }

    header div.search div.nav{
        padding-left: 0px;
        white-space:nowrap;
    }

}





@media(max-width:712px) {
    header , main ,footer {
        min-width: 712px;
    }


    main div.side {
        display: none;
    }

    main div.content {
        width: 90%;
        max-width: 90%;
    }

    main div.content div.product div.showItem {
        display: block;
        width: calc(100% - 40px);
        margin: 20px;
    }

    main div.content div.product div.showItem div.showItem_img{
        max-width: 100%;
    }

    main div.content div.product div.showItem div.showItem_img img{
        max-height: 400px;
    }

    header div.search div.nav{
        padding: 0px;
        white-space:nowrap;
    }

    header div.search div.nav>div{
        padding-left: 0px;
    }

}