<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../css/shoppingCart(Vue).css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Geologica:wght@300;400;600&family=Noto+Sans+TC:wght@300;400;500;700&display=swap"
        rel="stylesheet">
    <title>shoppingCart</title>

</head>

<body>
    <header class="cartHeader">
        <div class="ctHeaderUp">
            <a href="shopIndex.html" class="logo">
                <img src="../img/Logo-removebg.png" alt="">
            </a>
            <span>
                NBP.gg商城購物系統
            </span>
        </div>
        <div class="addAdditional">
            <div class="addButtons">
                <a href="" class="addItem" data-from="byMyPick">
                    <img src="../img/icon/square-plus-regular.svg" class="icon plus">
                    <img src="../img/icon/square-minus-regular.svg" class="icon minus">
                    從追蹤清單追加
                </a>
                <a href="" class="addItem" data-from="byPurchaseLog">
                    <img src="../img/icon/square-plus-regular.svg" class="icon plus">
                    <img src="../img/icon/square-minus-regular.svg" class="icon minus">
                    從購買紀錄追加
                </a>
            </div>
            <div class="addDetail">
                <table class="byMyPick">
                    <thead>
                        <tr>
                            <th>商品ID</th>
                            <th>商品名稱</th>
                            <th>單價</th>
                            <th>加入本次購物</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-if="mypick.length > 0" v-for="item in mypick">
                            <tr>
                                <td>{{ item.productId }}</td>
                                <td>{{ item.productName }}</td>
                                <td>${{ item.productPrice }}</td>
                                <td><button @click="addToCart(item.productId)">加入購物車</button></td>
                            </tr>
                        </template>
                        <tr v-if="mypick.length < 1">
                            <td></td>
                            <td colspan="3" style="text-align:center"><span>無追蹤商品</span></td>
                        </tr>
                    </tbody>
                </table>
                <table class="byPurchaseLog">
                    <thead>
                        <tr>
                            <th>商品ID</th>
                            <th>商品名稱</th>
                            <th>近期購買日期</th>
                            <th>單價</th>
                            <th>加入本次購物</th>
                        </tr>
                    </thead>
                    <tbody>
                        <template v-for="item in byPurchaseLog" v-if="byPurchaseLog.length > 0">
                            <tr>
                                <td>{{ item.productId }}</td>
                                <td>{{ item.productName }}</td>
                                <td>{{ dateFormat(item.purchaseDate) }}</td>
                                <td>${{ item.productPrice }}</td>
                                <td><button @click="addToCart(item.productId)">加入購物車</button></td>
                            </tr>
                        </template>
                        <tr v-if="byPurchaseLog.length < 1">
                            <td></td>
                            <td colspan="4" style="text-align:center"><span>無購買紀錄</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </header>
    <div class="shoppingContent">
        <div class="cart">
            <h3>購物明細</h3>
            <table id="purchaseDetail">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="checkAll" @click="allProductCheckedSwitch"></th>
                        <th> </th>
                        <th class="productname">商品名稱</th>
                        <th>主機</th>
                        <th>購買數量</th>
                        <th>單價</th>
                        <th>小計</th>
                        <th>可買量</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-if="shoppingList.length < 1">
                        <td colspan="9">目前購物車內無商品</td>
                    </tr>
                    <template v-for="(item, index) in shoppingList">
                        <tr>
                            <td><input type="checkbox" v-model="item.checked"></td>
                            <td class="productImg">
                                <img :src="item.productImgUrl" :alt="item.productName">
                            </td>
                            <td>
                                <a :href="'/gg4nbp/shop/shopProductDetail.html' + item.productId"> <!--獲取-->
                                    {{ item.productName }}
                                </a>
                            </td>
                            <td>
                                {{ item.brand }}
                            </td>
                            <td>
                                <select name="amount1" v-model="item.buyAmount" @changed="couponCondition()">
                                    <!--依實際庫存增減可選數量-->
                                    <option v-for="pic in (item.stockAmount > 20? 20 : item.stockAmount)" :value="pic">
                                        {{ pic }}
                                    </option>
                                </select>
                            </td>
                            <td>NTD$<span class="unitPrice">{{ item.price }}</span></td>
                            <td>NTD$<span class="itemPrice">{{ item.buyAmount * item.price }}</span>
                                <!--選擇數量*單價-->
                            <td>{{ item.stockAmount > 10? '足夠' : item.stockAmount }}</td>
                            <td><button class="delete" @click="removeItem(index)"><img
                                        src="../img/icon/trash-can-regular.svg" alt=""></button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
            <div>
                <form action="" id="discount">
                    <ul><span>使用優惠代碼或是紅利點數折抵消費：</span>
                        <li>
                            <input type="radio" id="coupon" name="discount" value="coupon" v-model.lazy="discountRadio">
                            <label for="coupon">折購代碼：</label>
                            <input type="text" placeholder="請輸入欲使用的折扣代碼" maxlength="8" v-model.trim="couponCode"
                                :disabled="discountRadio === 'bonus'" v-show="discountRadio === 'coupon'"
                                @change="checkCoupon">
                            <button @click.prevent="checkCoupon" v-show="discountRadio === 'coupon'">
                                {{ resCoupon === ''? '確認優惠碼' : '可使用'}}
                            </button>
                        </li>
                        <li>
                            <input type="radio" id="bonus" name="discount" value="bonus" v-model="discountRadio">
                            <label for="bonus">使用紅利點數折抵：</label>
                            <input type="text" id="bonusInput" v-model="bonus" @keyup="bonusValid"
                                :disabled="discountRadio === 'coupon'" v-show="discountRadio === 'bonus'">
                        </li>
                </form>
            </div>
            <div class=" productTotal">
                <h4>商品總額：</h4>
                <span class="productSubTotal">{{ productSubtotal }}</span>
            </div>
        </div>
        <h3>配送</h3>
        <div class="deliver">
            <form>
                <span>配送方式：</span>
                <input type="radio" id="takuhai" value="takuhai" name="deliver" v-model="deliver">
                <label for="takuhai">宅配</label>
                <input type="radio" id="toCvs" value="toCvs" name="deliver" v-model="deliver">
                <label for="toCvs">超商店取</label>
            </form>
            <div>
                <div><span>配送地址：</span></div>
                <select name="" id="" v-model="address.county">
                    <option :value="county" v-for="county in countySelet">{{ county }}</option>
                </select>
                <input type="text" v-model="address.address" placeholder="請輸入詳細地址">
            </div>
            <div class="deliFee">
                <span>運費：$</span><span class="deliFee">{{ deliverCal }}</span>
            </div>
        </div>
        <div class="brLine"></div>
        <div class="billTotal">
            結帳總金額<span>NTD$</span><span>{{ productSubtotal + deliverCal}}</span><a href="shopIndex.html">回賣場選購</a>
        </div>
        <div class="brLine"></div>
        <h3>付款方式</h3>
        <div class="payment">
            <div class="paymentRadio">
                <form action="">
                    <div>
                        <input type="radio" name="paymentRadio" id="credit" value="credit" v-model="payment">
                        <label for="credit">信用卡付款</label>
                    </div>
                    <div>
                        <input type="radio" name="paymentRadio" id="transfer" value="transfer" v-model="payment">
                        <label for="transfer">轉帳</label>
                    </div>
                    <div>
                        <input type="radio" name="paymentRadio" id="onDeliver" value="onDeliver" v-model="payment">
                        <label for="onDeliver">貨到付款</label>
                    </div>
                </form>
            </div>
            <div class="paymentContent">
                <div class="credit" v-show="payment === 'credit'">
                    <form action="" class="creditCard">
                        <span>輸入信用卡資訊</span>
                        <div>
                            <label for="cardNum">信用卡號</label>
                            <input type="text" id="cardNum" v-model="card.cardNum" maxlength="16" @keyup="fixToNum">
                        </div>
                        <div class="cardValidDate">
                            <label>卡片效期</label>
                            <input type="text" id="validMonth" placeholder="有效月" maxlength="2"
                                v-model="card.cardValidMon" @keyup="fixToNum">
                            <input type="text" id="validYear" placeholder="有效年" maxlength="4" v-model="card.cardValidYr"
                                @keyup="fixToNum">
                        </div>
                        <div>
                            <label for="validNum">驗證碼</label>
                            <input type="text" id="validNum" v-model="card.cardValidNum" maxlength="3"
                                @keyup="fixToNum">
                        </div>
                    </form>
                    <div>
                        <span>或第三方支付</span>
                        <form action="/gg4nbp/Ecpay" method="post" @submit.prevent="checkOut(true, $event)">
                            <input type="hidden" :value="orderId" name="orderId" id="orderId">
                            <button type="submit">綠界金流支付</button>
                        </form>
                    </div>
                </div>
                <div class="transfer" v-show="payment === 'transfer'">
                    <span>商城轉帳資訊</span>
                    <dl>
                        <dt>商城帳戶名：</dt>
                        <dd>NBP.gg</dd>
                        <dt>商城帳戶分行名：</dt>
                        <dd>NBP.gg Branch</dd>
                        <dt>商城帳戶：</dt>
                        <dd>123 4567 8910 1112</dd>
                    </dl>
                </div>
                <div class="onDeliver" v-show="payment === 'onDeliver'">
                    <h4>請於取貨時付款</h4>
                </div>
            </div>
        </div>
        <div id="submit">
            <button id="submit" @click.prevent="checkOut(false)">確定送出</button>
        </div>
    </div>
    <div id="promoProduct">
        <span>推薦商品：</span>
        <ul>
            <template v-for="item in promoProduct">
                <li>
                    <a href="" @click="leave('/shop/shopProductDetail.html', item.productId)">
                        <img :src="item.productIndexImage.image" :alt="item.productName">
                    </a>
                    <a href="" @click="leave('/shop/shopProductDetail.html', item.productId)">
                        <span>{{ item.productName }}</span>
                    </a>
                    <span>${{ item.price }}</span>
                </li>
            </template>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../jquery/jquery-1.9.1.min.js"></script>
    <script src="../js/shoppingCart(Vue).js"></script>

</body>

</html>