<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NPB.GG管理系統</title>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min_backend.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="./fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="./fonts/material-icons.min.css">
    <link rel="stylesheet" href="./css/x-dropdown.css">
    <link rel="stylesheet" href="./css/custom.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <!-- 左方導覽欄 -->
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon ">
                        <img class="" src="./img/Logo-removebg.png">
                    </div>
                    <div class="sidebar-brand-text mx-3">
                        <span>NBP.GG管理</span>
                    </div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item">
                        <div class="x-dropdown dropdown">
                            <div class="text-start x-drop-btn" aria-expanded="false" data-bs-toggle="dropdown">
                                <span>管理員管理</span>
                                <i class="material-icons">keyboard_arrow_down</i>
                            </div>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" role="presentation" href="#">管理員清單</a>
                                <a class="dropdown-item" role="presentation" href="#">權限清單</a>
                                <a class="dropdown-item" role="presentation" href="#">管理員新增</a>
                                <a class="dropdown-item" role="presentation" href="#">權限新增</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="x-dropdown dropdown">
                            <div class="text-start x-drop-btn" aria-expanded="false" data-bs-toggle="dropdown">
                                <span>會員管理</span>
                                <i class="material-icons">keyboard_arrow_down</i>
                            </div>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" role="presentation" href="#">會員清單</a>
                                <a class="dropdown-item" role="presentation" href="#">停權單清單</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="x-dropdown dropdown">
                            <div class="text-start x-drop-btn" aria-expanded="false" data-bs-toggle="dropdown">
                                <span>商城管理</span>
                                <i class="material-icons">keyboard_arrow_down</i>
                            </div>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" role="presentation" href="#">xxxxx1</a>
                                <a class="dropdown-item" role="presentation" href="#">xxxx2</a>
                                <a class="dropdown-item" role="presentation" href="#">xxxxxx3</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="x-dropdown dropdown">
                            <div class="text-start x-drop-btn" aria-expanded="false" data-bs-toggle="dropdown">
                                <span>二手商城管理</span>
                                <i class="material-icons">keyboard_arrow_down</i>
                            </div>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" role="presentation" href="#">xxxxx1</a>
                                <a class="dropdown-item" role="presentation" href="#">xxxx2</a>
                                <a class="dropdown-item" role="presentation" href="#">xxxxxx3</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="x-dropdown dropdown">
                            <div class="text-start x-drop-btn" aria-expanded="false" data-bs-toggle="dropdown">
                                <span>檢舉管理</span>
                                <i class="material-icons">keyboard_arrow_down</i>
                            </div>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" role="presentation" href="#">xxxxx1</a>
                                <a class="dropdown-item" role="presentation" href="#">xxxx2</a>
                                <a class="dropdown-item" role="presentation" href="#">xxxxxx3</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="x-dropdown dropdown">
                            <div class="text-start x-drop-btn" aria-expanded="false" data-bs-toggle="dropdown">
                                <span>客服中心</span><i class="material-icons">keyboard_arrow_down</i>
                            </div>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" role="presentation" href="#">xxxxx1</a>
                                <a class="dropdown-item" role="presentation" href="#">xxxx2</a>
                                <a class="dropdown-item" role="presentation" href="#">xxxxxx3</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="x-dropdown dropdown">
                            <div class="text-start x-drop-btn" aria-expanded="false" data-bs-toggle="dropdown">
                                <span>系統設定</span>
                                <i class="material-icons">keyboard_arrow_down</i>
                            </div>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" role="presentation" href="#">xxxxx1</a>
                                <a class="dropdown-item" role="presentation" href="#">xxxx2</a>
                                <a class="dropdown-item" role="presentation" href="#">xxxxxx3</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- 左方導覽欄 -->
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- 上方導覽欄 -->
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button">
                            <i class="fas fa-bars"></i>
                        </button>
                        <h3 class="navbar-nav flex-nowrap text-dark mb-0 nav-bar-top">NBP.GG管理系統</h3>
                        <ul class="navbar-nav flex-nowrap ms-auto nav-bar-top">
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow">
                                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"
                                        href="#">
                                        <span class="d-none d-lg-inline me-2 text-gray-600 small">Valerie Luna</span>
                                        <img class="border rounded-circle img-profile" src="./img/avatars/avatar1.jpeg">
                                    </a>
                                    <div class="dropdown-menu shadow dropdown-menu-end animated--grow-in">
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-user fa-sm fa-fw me-2 text-gray-400"></i>
                                            &nbsp;Profile
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>
                                            &nbsp;Settings
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>
                                            &nbsp;Activity log
                                        </a>
                                        <div class="dropdown-divider">

                                        </div>
                                        <a class="dropdown-item" href="#">
                                            <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>
                                            &nbsp;Logout
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <!-- 上方導覽欄 -->
                <div class="container-fluid">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4">
                        <!--                        <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#">-->
                        <!--                            新增優惠券-->
                        <!--                        </a>-->
                        <button class="btn btn-primary btn-sm d-none d-sm-inline-block"
                            @click="autoGenerateCouponActivity()">新增優惠券</button>
                    </div>

                    <!-- card shadow 視窗整體
                    mb-4 視窗間間距
                    py-3 視窗內間距
                    card-header 標題框
                    card-body 視窗主體 -->



                    <!-- <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">無用表格</p>
                        </div>
                        <div class="card-body">
                            無用視窗
                        </div>
                    </div> -->

                    <div class="table-responsive table mt-2" id="dataTable" role="grid"
                        aria-describedby="dataTable_info">
                        <table class="table my-0" id="dataTable">
                            <thead>
                                <tr>
                                    <th>活動名稱</th>
                                    <th>活動代碼</th>
                                    <th>折扣代碼</th>
                                    <th>折扣金額</th>
                                    <th>滿額金額</th>
                                    <th>使用期限</th>

                                    <th>新增</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input v-model.lazy="newcouponActivity.activityName"
                                            class="form-control form-control-sm"></td>
                                    <td><input v-model.lazy="newcouponActivity.activityCode"
                                            class="form-control form-control-sm"></td>
                                    <td><input v-model.lazy="newCoupon.discountCode"
                                            class="form-control form-control-sm"></td>
                                    <td><input v-model.lazy="newCoupon.discount" type="number"
                                            class="form-control form-control-sm">
                                    </td>
                                    <td><input v-model.lazy="newCoupon.conditionPrice" type="number"
                                            class="form-control form-control-sm"></td>

                                    <td><input type="date" v-bind:value="newCoupon.deadline" v-bind:min="minDate"
                                            v-model.lazy="newCoupon.deadline" class="form-control form-control-sm">

                                    <td><button style="width: 50px; height: 20px;"
                                            @click="addCouponActivity()">新增</button>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><strong>活動名稱</strong></td>
                                    <td><strong>活動代碼</strong></td>
                                    <td><strong>折扣代碼</strong></td>
                                    <td><strong>折扣金額</strong></td>
                                    <td><strong>滿額金額</strong></td>
                                    <td><strong>使用期限</strong></td>
                                    <td><strong>新增</strong></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- // -->

                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">優惠券</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                        <label class="form-label">Show&nbsp;
                                            <select class="d-inline-block form-select form-select-sm">
                                                <option value="10" selected="">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>&nbsp;
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-end dataTables_filter" id="dataTable_filter">
                                        <label class="form-label">
                                            <input type="search" class="form-control form-control-sm"
                                                aria-controls="dataTable" placeholder="Search">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>活動名稱</th>
                                            <th>活動代碼</th>
                                            <th>折扣代碼</th>
                                            <th>折扣金額</th>
                                            <th>滿額金額</th>
                                            <th>使用期限</th>

                                            <th>刪除</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <div v-if="showCouponActivity">
                                            <tr v-for="item in couponActivity">
                                                <td>{{item.activityName}}</td>
                                                <td>{{item.activityCode}}</td>
                                                <td>{{item.coupon.discountCode}}</td>
                                                <td>{{item.coupon.discount}}</td>
                                                <td>{{item.coupon.conditionPrice}}</td>
                                                <td>{{item.coupon.deadline}}</td>

                                                </td>
                                                <td><button style="width: 50px; height: 20px;"
                                                        @click="deleteCouponActivity(item.coupon.id)">刪除</button>
                                                </td>
                                            </tr>
                                        </div>
                                        <div v-else>
                                            <p>error</p>
                                            <p>{{AllCouponActivityRequest.content}}</p>
                                        </div>



                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><strong>活動名稱</strong></td>
                                            <td><strong>活動代碼</strong></td>
                                            <td><strong>折扣代碼</strong></td>
                                            <td><strong>折扣金額</strong></td>
                                            <td><strong>滿額金額</strong></td>
                                            <td><strong>使用期限</strong></td>

                                            <td><strong>刪除</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                                        Showing 1 to 10 of 27</p>
                                </div>
                                <div class="col-md-6">
                                    <nav
                                        class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item disabled">
                                                <a class="page-link" aria-label="Previous" href="#">
                                                    <span aria-hidden="true">«</span>
                                                </a>
                                            </li>
                                            <li class="page-item active">
                                                <a class="page-link" href="#">1</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">2</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">3</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" aria-label="Next" href="#">
                                                    <span aria-hidden="true">»</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright">
                        <span>Copyright © NBP.GG 2023</span>
                    </div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>

</body>

<script src="./bootstrap/js/bootstrap.min.js"></script>
<script src="./js/theme.js"></script>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="module" src="./js/couponManager.js"></script>




</html>