<!DOCTYPE html>
<html>

<!-- head部分 -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NPB.GG管理系統</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min_backend.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="../fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../fonts/material-icons.min.css">
    <link rel="stylesheet" href="../css/x-dropdown.css">
    <link rel="stylesheet" href="../css/custom.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        a {
            color: blue;
            text-decoration: underline;
        }

        div.underInfo {
            text-align: right;
            border-bottom: 1px solid #ccc;
        }

        div.underInfo div {
            margin-bottom: 3px;
        }

        div.underInfo span {
            margin: 3px;
            margin-right: 0;
        }

        div.col-md-6 nav a {
            margin-top: 6px;
        }

        p.text-primary span {
            margin: 10px;
        }

        .deliver input[type="text"] {
            width: 150px;
        }

        .deliver span {
            margin: 5px;
        }

        .row button {
            border: 0;
            border-radius: 5px;
            margin: 5px;
            font-weight: 500;
            color: red;
        }

        .row button:last-child {
            margin-left: 50px;
            color: black;
        }

        .row nav {
            text-align: center;
        }

        .row div {
            text-align: right;
        }
    </style>
</head>
<!-- head部分 -->

<body id="page-top">
    <div id="wrapper">
        <!-- 側邊導覽框 -->
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- 上方導覽框 -->
                <div class="container-fluid">
                    <h3><a href="./orderManageIndex.html">後台一般訂單管理</a><span> / 訂單詳情查看</span></h3>


                    <!-- card shadow 視窗整體
                    mb-4 視窗間間距
                    py-3 視窗內間距
                    card-header 標題框
                    card-body 視窗主體 -->




                    <div class="card shadow" id="orderContent">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">
                                訂單編號：<span>{{ order.orderId }}</span>
                                <span
                                    :style="(updateOrder.orderStatus === 3 || updateOrder.orderStatus === 4)? 'color:red' : '' ">
                                    訂單狀態：{{ showOrderStatus[updateOrder.orderStatus] }}
                                </span>
                            <div v-show=" order.orderStatus===3">
                                <button v-show="updateOrder.orderStatus === 3"
                                    @click="updateOrderStatus(2)">同意取消</button>
                                <button v-show="updateOrder.orderStatus === 2"
                                    @click="updateOrderStatus(3)">不同意取消</button>
                            </div>
                            </p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-end dataTables_filter" id="dataTable_filter">
                                        訂單日期：<span>{{ order.commitDate }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th>商品資訊</th>
                                            <th>購買數量</th>
                                            <th>單價</th>
                                            <th>小計</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <template v-for="item in orderDetails">
                                            <tr>
                                                <td><img class="rounded-circle me-2" width="30" height="30"
                                                        :src="item.productImgUrl" :alt="item.productName"><a href="">{{
                                                        item.productName
                                                        }}</a></td>
                                                <td>{{ item.buyAmount }}</td>
                                                <td>{{ item.price }}</td>
                                                <td>{{ item.buyAmount * item.price }}</td>
                                            </tr>
                                        </template>
                                    </tbody>
                                </table>
                            </div>
                            <div class="underInfo">
                                <div class="deliver">
                                    <span>配送方式：<span>{{ showPickType[order.pickType] }}</span></span>
                                    <span>運費：$<span>{{ order.deliverFee }}</span></span>
                                    <label for="deliverNumber">填入物流編號：</label>
                                    <input type="text" id="deliverNumber" v-model="updateOrder.deliverNumber">
                                    <span>出貨狀態：{{ showDeliverState[updateOrder.deliverState] }}</span>
                                    <select name="deliverState" id="" v-model="updateOrder.deliverState">
                                        <option value="0">未出貨</option>
                                        <option value="1">已出貨</option>
                                        <option value="2">已到貨</option>
                                    </select>
                                </div>
                                <div class="payment">
                                    <span>付款方式：<span>{{ showCommitType[order.commitType] }}</span></span>
                                </div>
                                <div>
                                    訂單總價：$<strong>{{ order.totalPrice }}</strong>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <nav
                                        class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <a href="" @click.prevent="goBack()">回上一頁</a>
                                    </nav>
                                </div>
                                <div>
                                    <button @click="confirm()">確認修改訂單</button>
                                    <button @click="cancel()">取消修改</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright">
                        <span>Copyright © NBP.GG 2023</span>
                    </div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/theme.js"></script>
    <script src="../jquery/jquery-3.4.1.min.js"></script> <!-- jQuery -->
    <script src="../js/backend_nav.js"></script> <!-- 導覽框 -->
    <script src="../js/orderManageDetail(Vue).js"></script>
</body>

</html>