<!DOCTYPE html>
<html>
<!-- head部分 -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NPB.GG管理系統</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min_backend.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="../fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../fonts/material-icons.min.css">
    <link rel="stylesheet" href="../css/x-dropdown.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <style>
        table#dataTable th {
            font-size: 14px;
        }

        table#dataTable td:nth-child(4) a {
            text-decoration: underline;
            color: #2828FF;
        }

        #dataTable_filter {
            position: relative;
        }

        #dataTable_filter button {
            border: 0;
            border-radius: 5px;
            margin: 5px;
            width: 20px;
        }

        #dataTable_filter img {
            width: 10px;
            height: 10px;
        }

        #dataTable_filter button:hover::before {
            position: absolute;
            top: -30px;
            color: #fff;
            font-size: .8em;
            background: #346e7a;
            padding: 5px;
            border-radius: 5px;
            content: '更新資料';
        }

        table#dataTable button {
            vertical-align: middle;
            font-size: 0;
            border: 0;
            border-radius: 5px;
            height: 20px;
        }

        table#dataTable button img {
            width: 8px;
            height: 8px;
            margin: auto;
        }

        table#dataTable tfoot td {
            font-size: 14px;
        }
    </style>
</head>
<!-- head部分 -->

<body id="page-top">
    <div id="wrapper">
        <!-- 側邊導覽框 -->
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- 上方導覽框 -->
                <div class="container-fluid">
                    <h3>後台一般訂單管理</h3>

                    <!-- card shadow 視窗整體
                    mb-4 視窗間間距
                    py-3 視窗內間距
                    card-header 標題框
                    card-body 視窗主體 -->

                    <div class="card shadow" id="omManage">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                        <label class="form-label">Show&nbsp;
                                            <select class="d-inline-block form-select form-select-sm"
                                                @change="renewList(nowPage)" v-model="nowPage">
                                                <option v-for="pg in Math.ceil(totalListItem/10)" :value=pg>
                                                    {{ pg * 10 }}
                                                </option>
                                            </select>&nbsp;
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-end dataTables_filter" id="dataTable_filter">
                                        <label for="functionSelect">快速篩選：</label>
                                        <select name="functionSelect" id="functionSelect" @change="selectionChange"
                                            v-model="criteria">
                                            <option value=1>全部</option>
                                            <optgroup label="付款狀態">
                                                <option value=2>待付款</option>
                                                <option value=3>已付款</option>
                                                <option value=4>貨到付款</option>
                                            </optgroup>
                                            <optgroup label="出貨狀態">
                                                <option value=5>已出貨</option>
                                                <option value=6>未出貨</option>
                                            </optgroup>
                                            <optgroup label="訂單狀態">
                                                <option value=7>已成立</option>
                                                <option value=8>已取消</option>
                                                <option value=9>申請取消</option>
                                                <!-- <option value="6">未出貨</option> -->
                                            </optgroup>
                                        </select>
                                        <button @click="getLastest()">
                                            <img src="../img/icon/arrows-rotate-solid.svg" alt="更新資料">
                                        </button>
                                        <label class="form-label">
                                            <input type="text" class="form-control form-control-sm"
                                                aria-controls="dataTable" placeholder="搜尋會員名稱"
                                                @keydown.enter="searchUser">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                aria-describedby="dataTable_info">
                                <div v-show="omList === {}">
                                    <h1>無符合資料</h1>
                                </div>
                                <table class="table my-0" id="dataTable" v-show="omList !== {}">
                                    <thead>
                                        <tr>
                                            <th>
                                                <span>訂單編號</span>
                                                <button @click="changeSort(1, 1)"
                                                    v-show="!(sortBy === 1 && sortWay === 1) && searchKeyword === ''"><img
                                                        src="../img/icon/chevron-down-solid.svg" alt="近期"></button>
                                                <button @click="changeSort(1, 0)"
                                                    v-show="sortBy === 1 && sortWay === 1 && searchKeyword === ''"><img
                                                        src="../img/icon/sort-up-solid.svg" alt="最舊"></button>
                                            </th>
                                            <th>
                                                <span>購買者會員編號</span>
                                                <button @click="changeSort(2, 1)"
                                                    v-show="!(sortBy === 2 && sortWay === 1)"><img
                                                        src="../img/icon/chevron-down-solid.svg" alt="最大"></button>
                                                <button @click="changeSort(2, 0)"
                                                    v-show="sortBy === 2 && sortWay === 1"><img
                                                        src="../img/icon/sort-up-solid.svg" alt="最小"></button>
                                            </th>
                                            <th>
                                                <span>購買者</span>
                                                <button @click="changeSort(2, 1)"
                                                    v-show="!(sortBy === 2 && sortWay === 1)"><img
                                                        src="../img/icon/chevron-down-solid.svg" alt="依名稱順序"></button>
                                                <button @click="changeSort(2, 0)"
                                                    v-show="sortBy === 2 && sortWay === 1"><img
                                                        src="../img/icon/sort-up-solid.svg" alt="反向排序"></button>
                                            </th>
                                            <th>
                                                <span>購買內容</span>
                                            </th>
                                            <th>
                                                <span>訂單成立日期</span>
                                                <button @click="changeSort(3, 1)"
                                                    v-show="!(sortBy === 3 && sortWay === 1) && searchKeyword === ''"><img
                                                        src="../img/icon/chevron-down-solid.svg" alt="最新"></button>
                                                <button @click="changeSort(3, 0)"
                                                    v-show="sortBy === 3 && sortWay === 1 && searchKeyword === ''"><img
                                                        src="../img/icon/sort-up-solid.svg" alt="最舊"></button>
                                            </th>
                                            <th>
                                                <span>總金額</span>
                                                <button @click="changeSort(4, 1)"
                                                    v-show="!(sortBy === 4 && sortWay === 1) && searchKeyword === ''"><img
                                                        src="../img/icon/chevron-down-solid.svg" alt="最大"></button>
                                                <button @click="changeSort(4, 0)"
                                                    v-show="sortBy === 4 && sortWay === 1 && searchKeyword === ''"><img
                                                        src="../img/icon/sort-up-solid.svg" alt="最小"></button>
                                            </th>
                                            <th>
                                                <span>訂單狀態</span>
                                                <button @click="changeSort(5, 1)"
                                                    v-show="!(sortBy === 5 && sortWay === 1) && searchKeyword === ''"><img
                                                        src="../img/icon/chevron-down-solid.svg" alt=""></button>
                                                <button @click="changeSort(5, 0)"
                                                    v-show="sortBy === 5 && sortWay === 1 && searchKeyword === ''"><img
                                                        src="../img/icon/sort-up-solid.svg" alt=""></button>
                                            </th>
                                            <th>
                                                <span>付款狀態</span>
                                                <button @click="changeSort(6, 1)"
                                                    v-show="!(sortBy === 6 && sortWay === 1) && searchKeyword === ''"><img
                                                        src="../img/icon/chevron-down-solid.svg" alt=""></button>
                                                <button @click="changeSort(6, 0)"
                                                    v-show="sortBy === 6 && sortWay === 1 && searchKeyword === ''"><img
                                                        src="../img/icon/sort-up-solid.svg" alt=""></button>
                                            </th>
                                            <th>
                                                <span>出貨狀態</span>
                                                <button @click="changeSort(7, 1)"
                                                    v-show="!(sortBy === 7 && sortWay === 1) && searchKeyword === ''"><img
                                                        src="../img/icon/chevron-down-solid.svg" alt=""></button>
                                                <button @click="changeSort(7, 0)"
                                                    v-show="sortBy === 7 && sortWay === 1 && searchKeyword === ''"><img
                                                        src="../img/icon/sort-up-solid.svg" alt=""></button>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="omList">
                                        <template v-for="item in omList">
                                            <tr>
                                                <td>{{ item.orderId }}</td>
                                                <td>{{ item.memberId }}</td>
                                                <td>{{ item.buyer }}</td>
                                                <td><a href="" @click.prevent="watchDetail(item.orderId)">檢視詳情</a></td>
                                                <td>{{ item.buyDate }}</td>
                                                <td>{{ item.total }}</td>
                                                <td>{{ item.orderStatus }}</td>
                                                <td>{{ item.payStatus }}</td>
                                                <td>{{ item.deliStatus }}</td>
                                            </tr>
                                        </template>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><strong>訂單編號</strong></td>
                                            <td><strong>購買者會員編號</strong></td>
                                            <td><strong>購買者</strong></td>
                                            <td><strong>購買內容</strong></td>
                                            <td><strong>訂單成立日期</strong></td>
                                            <td><strong>總金額</strong></td>
                                            <td><strong>訂單狀態</strong></td>
                                            <td><strong>付款狀態</strong></td>
                                            <td><strong>出貨狀態</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                                        Showing {{ omList === {}? 0 : (nowPage - 1) *10 + 1}} to
                                        {{ totalListItem < 10? totalListItem : nowPage * 10}} of {{ totalListItem }}
                                            </p>
                                </div>
                                <div class="col-md-6">
                                    <nav
                                        class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item" :class="nowPage === 1? 'disabled' : ''">
                                                <a class="page-link" aria-label="Previous" href="#"
                                                    @click.prevent="renewList(nowPage - 1 > 0? nowPage - 1 : 1 )">
                                                    <span aria-hidden="true">«</span>
                                                </a>
                                            </li>
                                            <template v-for="pg in Math.ceil(totalListItem/10)">
                                                <li class="page-item" :class="nowPage === pg? 'active': ''">
                                                    <a class="page-link" href="#" @click.prevent="renewList(pg)">{{ pg
                                                        }}</a>
                                                </li>
                                            </template>
                                            <li class="page-item"
                                                :class="nowPage === Math.ceil(totalListItem/10)? 'disabled' : ''">
                                                <a class="page-link" aria-label="Next" href="#"
                                                    @click.prevent="renewList(nowPage + 1 > Math.ceil(totalListItem/10)? Math.ceil(totalListItem/10) : nowPage + 1 )">
                                                    <span aria-hidden="true">»</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright">
                        <span>Copyright © NBP.GG 2023</span>
                    </div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
    <!-- <script src="../bootstrap/js/bootstrap.min.js"></script> -->
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <!-- <script src="../js/theme.js"></script> -->
    <!-- <script src="/Five_NBP.gg/js/theme.js"></script> -->
    <script src="../jquery/jquery-3.4.1.min.js"></script> <!-- jQuery -->
    <script src="../js/backend_nav.js"></script> <!-- 導覽框 -->
    <script src="../js/theme.js"></script>
    <script src="../js/orderManageIndex(Vue).js"></script>
</body>

</html>