<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>NPB.GG管理系統1</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min_backend.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="../fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="../fonts/material-icons.min.css">
    <link rel="stylesheet" href="../css/x-dropdown.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="stylesheet" href="../css/productManagerMain.css">
</head>


<body id="page-top">
    <div id="wrapper">
        <!-- 左方導覽欄 -->


        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <!-- 上方導覽欄 -->

                <div class="container-fluid" id="vue-body">
                    <div class="mainguide">
                        <ul>
                            <li v-for="item in mainguideContent" @click="changeMainContent(item.id)">
                                <span>{{item.text}}</span>
                            </li>
                        </ul>
                    </div>

                    <!-- card shadow 視窗整體
                    mb-4 視窗間間距
                    py-3 視窗內間距
                    card-header 標題框
                    card-body 視窗主體 -->

                    <div v-if="currentMainguideContent==1">
                        <div class="card shadow">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">一般商城商品</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 text-nowrap">
                                        <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                            <label class="form-label">Show&nbsp;
                                                <select @change="limitNumOfSelectChanre($event.target.value)"
                                                    class="d-inline-block form-select form-select-sm">
                                                    <option v-for="item in limitNumOfSelect" :value="item">{{item}}
                                                    </option>
                                                    <!-- <option value="10" selected="">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100</option> -->
                                                </select>&nbsp;
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-md-end dataTables_filter" id="dataTable_filter">
                                            <label class="form-label">
                                                <input type="search" class="form-control form-control-sm"
                                                    aria-controls="dataTable" placeholder="Search">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                    aria-describedby="dataTable_info">
                                    <table class="table my-0" id="dataTable">
                                        <thead>
                                            <tr>
                                                <td><strong>產品名稱</strong></td>
                                                <td><strong>產品分類</strong></td>
                                                <td><strong>產品價格</strong></td>
                                                <td><strong>產品庫存</strong></td>
                                                <td><strong>產品購買數量</strong></td>
                                                <td><strong>產品品牌</strong></td>
                                                <td><strong>產品總評價</strong></td>
                                                <td><strong>產品評價人數</strong></td>
                                                <td><strong>產品上架日期</strong></td>
                                                <!-- <td><strong>產品上架</strong></td> -->
                                                <td><strong>產品下架日期</strong></td>
                                                <!-- <td><strong>產品下架</strong></td> -->
                                                <td><strong>產品上下架操作</strong></td>
                                                <td><strong>產品狀態</strong></td>
                                                <td><strong>更新</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <template v-for="(item,index) in products">


                                                <tr>
                                                    <td><input :value="item.productName" v-model="item.productName"
                                                            :disabled="item.state != enumProductState.new && item.state != enumProductState.takeOff">
                                                    </td>
                                                    <td>
                                                        <!-- <input :value="item.type" v-model="item.type"
                                                            :disabled="item.state != enumProductState.new && item.state != enumProductState.takeOff"> -->

                                                        <select @change="changeProductType(item,$event.target.value)"
                                                            style="width: 120px;"
                                                            :disabled="item.state != enumProductState.new && item.state != enumProductState.takeOff">
                                                            <option v-for="itemType in enumProductType"
                                                                :value="itemType.type"
                                                                :selected="itemType.type==item.type">
                                                                {{itemType.content}}
                                                            </option>
                                                        </select>

                                                    </td>
                                                    <td><input :value="item.price" v-model="item.price"
                                                            style="width: 80px;"
                                                            :disabled="item.state != enumProductState.new && item.state != enumProductState.takeOff">
                                                    </td>
                                                    <td><input :value="item.amount" v-model="item.amount"
                                                            style="width: 80px;"
                                                            :disabled="item.state != enumProductState.new && item.state != enumProductState.takeOff">
                                                    </td>
                                                    <td><input :value="item.buyTimes" v-model="item.buyTimes"
                                                            style="width: 80px;"
                                                            :disabled="item.state != enumProductState.new && item.state != enumProductState.takeOff">
                                                    </td>
                                                    <td><input :value="item.brand" v-model="item.brand"
                                                            style="width: 80px;"
                                                            :disabled="item.state != enumProductState.new && item.state != enumProductState.takeOff">
                                                    </td>
                                                    <td><input :value="item.rate" v-model="item.rate"
                                                            style="width: 60px;"
                                                            :disabled="item.state != enumProductState.new && item.state != enumProductState.takeOff">
                                                    </td>
                                                    <td><input :value="item.revieweCount" v-model="item.revieweCount"
                                                            style="width: 60px;"
                                                            :disabled="item.state != enumProductState.new && item.state != enumProductState.takeOff">
                                                    </td>
                                                    <td>
                                                        <!-- <div style="width: 100px;">{{item.showLaunchTime}}</div> -->
                                                        <input type="datetime-local" v-bind:value="item.launchTime"
                                                            @input="updateLaunchTime(item, $event.target.value)"
                                                            class="form-control form-control-sm"
                                                            :disabled="item.state != enumProductState.new && item.state != enumProductState.takeOff">

                                                    </td>
                                                    <td>
                                                        <!-- <div style="width: 100px;">{{item.showTakeoffTime}}</div> -->
                                                        <!-- v-bind:min="minDate" -->
                                                        <input type="datetime-local" v-bind:value="item.takeoffTime"
                                                            @input="updatetakeOffTime(item, $event.target.value)"
                                                            class="form-control form-control-sm">
                                                    </td>


                                                    <td>
                                                        <select
                                                            @change="productSelectActionchange(index,$event.target.value)">
                                                            <option v-for="action in productSelectAction"
                                                                :value="action">
                                                                {{action}}
                                                            </option>

                                                        </select>

                                                        <div v-if="item.currentProductSelectAction== '排定上架'">
                                                            <!-- <input type="datetime-local" :value="item.launchTime"
                                                                @input="updateLaunchTime(item, $event.target.value)"
                                                                class="form-control form-control-sm"> -->
                                                        </div>
                                                        <div v-else-if="item.currentProductSelectAction=='排定下架'">
                                                            <!-- <input type="datetime-local" v-bind:value="item.takeoffTime"
                                                                v-bind:min="minDate"
                                                                @input="updatetakeOffTime(item, $event.target.value)"
                                                                class="form-control form-control-sm"> -->
                                                        </div>
                                                        <div v-else>

                                                        </div>

                                                        <button @click="btnAction(index)">操作</button>
                                                    </td>
                                                    <td>
                                                        <div style="width: 80px;">{{item.currentProductState}}</div>
                                                    </td>

                                                    <td><button style="width: 50px; height: 30px;"
                                                            @click="updateProductInfo(index)">更新</button>
                                                    </td>
                                                </tr>
                                            </template>

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td><strong>產品名稱</strong></td>
                                                <td><strong>產品分類</strong></td>
                                                <td><strong>產品價格</strong></td>
                                                <td><strong>產品庫存</strong></td>
                                                <td><strong>產品購買數量</strong></td>
                                                <td><strong>產品品牌</strong></td>
                                                <td><strong>產品總評價</strong></td>
                                                <td><strong>產品評價人數</strong></td>
                                                <td><strong>產品上架日期</strong></td>
                                                <!-- <td><strong>產品上架</strong></td> -->
                                                <td><strong>產品下架日期</strong></td>
                                                <!-- <td><strong>產品下架</strong></td> -->
                                                <td><strong>產品上下架操作</strong></td>
                                                <td><strong>產品狀態</strong></td>
                                                <td><strong>更新</strong></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 align-self-center">
                                        <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">
                                            Showing 1 to 10 of 27</p>
                                    </div>
                                    <div class="col-md-6">
                                        <nav
                                            class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                            <ul class="pagination">
                                                <li class="page-item disabled">
                                                    <a class="page-link" aria-label="Previous" href="#">
                                                        <span aria-hidden="true">«</span>
                                                    </a>
                                                </li>



                                                <li class="page-item " v-for="index in 3" :key="index">
                                                    <a class="page-link" @click="pageBtn(index)" href="#">{{index}}</a>
                                                </li>
                                                <!-- <li class="page-item active">
                                                    <a class="page-link" href="#">2</a>
                                                </li>
                                                <li class="page-item">
                                                    <a class="page-link" href="#">3</a>
                                                </li> -->
                                                <li class="page-item">
                                                    <a class="page-link" aria-label="Next" href="#">
                                                        <span aria-hidden="true">»</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-else-if="currentMainguideContent==2">
                        <div class="d-sm-flex justify-content-between align-items-center mb-4">
                            <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button"
                                @click="createProductFromcsv()">
                                檔案讀取
                            </a>
                        </div>


                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">新增商品</p>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid"
                                aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <td><strong>產品名稱</strong></td>
                                            <td><strong>產品分類</strong></td>
                                            <td><strong>產品價格</strong></td>
                                            <td><strong>產品品牌</strong></td>
                                            <td><strong>產品庫存</strong></td>
                                            <td><strong>產品內容</strong></td>
                                            <td><strong>產品上架日期</strong></td>
                                            <td><strong>新增產品</strong></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td><input v-model.lazy="newProduct.productName"
                                                    class="form-control form-control-sm"></td>
                                            <td>
                                                <!-- <input v-model.lazy="newProduct.type"
                                                    class="form-control form-control-sm"> -->
                                                <select @change="changeProductType(newProduct,$event.target.value)"
                                                    style="width: 120px;">
                                                    <option v-for="(itemType,index) in enumProductType"
                                                        :value="itemType.type" :selected="index==0">
                                                        {{itemType.content}}
                                                    </option>
                                                </select>
                                            </td>
                                            <td><input v-model.lazy="newProduct.price"
                                                    class="form-control form-control-sm">
                                            </td>
                                            <td><input v-model.lazy="newProduct.brand"
                                                    class="form-control form-control-sm">
                                            </td>
                                            <td><input v-model.lazy="newProduct.amount"
                                                    class="form-control form-control-sm">
                                            </td>

                                            <td><input v-model.lazy="newProduct.content"
                                                    class="form-control form-control-sm">
                                            </td>
                                            <td><input type="date" v-bind:value="newProduct.launchTime"
                                                    v-bind:min="minDate" v-model.lazy="newProduct.launchTime"
                                                    class="form-control form-control-sm">
                                            </td>

                                            <td><button
                                                    class="d-sm-flex justify-content-between align-items-center mb-4"
                                                    @click="addProduct()">新增</button>
                                            </td>

                                        </tr>


                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td><strong>產品名稱</strong></td>
                                            <td><strong>產品分類</strong></td>
                                            <td><strong>產品價格</strong></td>
                                            <td><strong>產品品牌</strong></td>
                                            <td><strong>產品庫存</strong></td>
                                            <td><strong>產品內容</strong></td>
                                            <td><strong>產品上架日期</strong></td>
                                            <td><strong>新增產品</strong></td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>

                            <div>產品內容</div>
                            <div>
                                <!-- <input style="height: 200px; width: 200px;" placeholder="ccc"> -->
                                <textarea rows="10" cols="30" v-model="newProduct.content"> </textarea>
                            </div>

                            <div>產品照片</div>
                            <!-- <form action="" method="POST" enctype="multipart/form-data">
                                <input type="file" name="file" />
                                <input type="submit" value="Upload" />
                            </form> -->
                            <div>
                                <input type="file" name="file" @change="onFileChange($event.target)" />
                                <!-- <button id="imgSubmit" @click="imgSubmit">Upload</button> -->
                                <!-- <input type="file" name="file" onchange="onFileChange(this)" /> -->
                            </div>

                            <div v-for="item in newProductImg">
                                <img class="newProductImg" :src=item.image>
                            </div>
                        </div>
                    </div>
                    <div v-else="currentMainguideContent==3">

                    </div>











                </div>
            </div>


            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright">
                        <span>Copyright © NBP.GG 2023</span>
                    </div>
                </div>
            </footer>
        </div>
        <a class="border rounded d-inline scroll-to-top" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>



    <!-- JavaScript JS放置區 -->
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/theme.js"></script>
    <!-- JavaScript JS放置區 -->
    <script src="../jquery/jquery-3.4.1.min.js"></script> <!-- jQuery -->
    <script src="../js/backend_nav.js"></script> <!-- 導覽框 -->
</body>


<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script type="module" src="../js/productManager.js"></script>
<!-- <script src="../js/productManager2.js"></script> -->


<script>

</script>

</html>