/*CSS*/
/* 紅色字體為本次修改內容 */

.ctrlbutton {
    display: inline-block;
    margin: 5px 3px;
    font-weight: 400;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 2px 13px;
    font-size: 14px;
    line-height: 30px;
    min-height: 35px;
    border-radius: 2px;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #ffffff;
    background-color: rgb(145, 198, 229);
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 2px;
    box-shadow: 2px 2px 3px grey;
    border: none;
    padding-right: 11px;

    /* 新增按鈕寬度 */
    width: 60px;
}


/* 當圖示被游標覆蓋時，它同層的下一個標籤狀態改變 */
i:hover + .ctrlbutton, .ctrlbutton:hover {
    color: white;
    box-shadow: none;
    border: none;
    background-color: rgb(13, 205, 198);
}

/* 設外層為基準位置 */
.btnI1{
    position: relative;
}
.btnI2{
    position: relative;
}
.btnI3{
    position: relative;
}
.btnI4{
    position: relative;
}
/* 放大鏡設為相對位置 */
i.fa-search{
    position: absolute;
    top: 16px;
    left: 26px;
    color: white;
}


/* 游標移動到圖示時，游標改變 */

i.fa-radiation {
    position: absolute;
    top: 16px;
    left: 26px;
    color: white;
}
i.fa-clipboard-list {
    position: absolute;
    top: 16px;
    left: 26px;
    color: white;
}

i.fa-sign-out-alt {
    position: absolute;
    top: 16px;
    left: 26px;
    color: rgb(228, 18, 18);
}
i.fa-search:hover{
    cursor: pointer;
}